$PRIMARY_SUCCESS_COLOR: #76A900;
$SECONDARY_SUCCESS_COLOR: #99BF3F;
$PRIMARY_FAILURE_COLOR: #E20913;
$SECONDARY_FAILURE_COLOR: #EA444E;
$PRIMARY_HEADER_DEFAULT: #858685;
$SECONDARY_HEADER_DEFAULT: #a5a5a5;

.rule {
  &-container {

  }
  &-header {
    background-color: $PRIMARY_HEADER_DEFAULT;
    color: white;
    .rule-id {
      background-color: $SECONDARY_HEADER_DEFAULT;
    }
    .rule-id, .rule-title  {
      padding: 10px;
      display: inline-block;
    }
    &.rule-success {
      .rule-id {
        background-color: $SECONDARY_SUCCESS_COLOR;
      }
      background-color: $PRIMARY_SUCCESS_COLOR;
    }
    &.rule-failed {
      .rule-id {
        background-color: $SECONDARY_FAILURE_COLOR;
      }
      background-color: $PRIMARY_FAILURE_COLOR;
    }
  }
  .rule-collapsed {
    display: none;
  }
  .next-rules-container {

  }
}
