$PRIMARY_SUCCESS_COLOR: #76A900;
$SECONDARY_SUCCESS_COLOR: #99BF3F;
$PRIMARY_FAILURE_COLOR: #E20913;
$SECONDARY_FAILURE_COLOR: #EA444E;
$PRIMARY_HEADER_DEFAULT: #686968;
$SECONDARY_HEADER_DEFAULT: #a5a5a5;
$DEFAULT_BG: #DBDBDB;
$LIGHT_FONT_COLOR: #FEFFFD;
$RULE_BACKGROUND: #929292;
$APP_FONT_SIZE: 14px;
$FONT_LARGE: 16px;
